<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nhà trọ An Cư</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Nhà trọ An Cư", "Index", "Rooms", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Danh sách người thuê", "Index", "TenantContracts", new { area = "" }, new { @class = "nav-link" })</li>
                    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h4 class="text-primary">NHÀ TRỌ AN CƯ</h4>
            <p class="text-dark">
                ĐỊA CHỈ: THÔN ĐÌNH NGỌ (ẤP), XÃ HỒNG PHONG, HUYỆN AN DƯƠNG, HẢI PHÒNG
                <br />CHỦ NHÀ TRỌ: TẠ NGỌC DUY - CCCD: 034082002422
                <br />ĐIỆN THOẠI: 0975092833
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.6.0/dist/autoNumeric.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>

    <script>
        // Khởi tạo AutoNumeric cho tất cả input tiền
        const autoFields = AutoNumeric.multiple('.money', {
            digitGroupSeparator: '.',
            decimalCharacter: ',',
            decimalPlaces: 0,
            unformatOnSubmit: true
        });

        function getMoney(selector) {
            const anElement = AutoNumeric.getAutoNumericElement(selector);
            return anElement ? anElement.getNumber() : 0;
        }
        $(function () {
            $(".datepicker").datepicker({
                format: "dd/mm/yyyy",
                autoclose: true
            });
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
